.env
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
__pycache__/
*.py[cod]
*$py.class
Libreria\models\migrations
Libreria/models/migrations/0002_alter_libro_publicado.py
Libreria/models/migrations/0003_remove_libro_publicado.py
Libreria/api/migrations/__init__.py
